.button {
    font: inherit;
    border: 1px solid #4f005f;
    border-radius: 8px;
    background: #4f005f;
    color: blue;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
    color: white;
  }
  
  .button:focus {
    outline: none;
  }