.input {
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* max-width: 80rem; */
}

/* .form {
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgb(95, 221, 215);
  background-color: chartreuse;
} */
/* max-width: 500px; */
/* margin: 3px auto 50px auto; */

.input input {
  display: block;
  margin: 2rem auto;
  padding: 4px 10px;
  width: 100%;
  /* border: none; */
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.input textarea {
  display: block;
  width: 100%;
  /* border: none; */
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
