.notes {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1020px;
  /* width: 100%; */
  margin: 2rem;
  border: 1px solid rgb(97, 29, 29);
  /* border-radius: 1rem; */
  /* background-color: rgb(147, 244, 247); */
}
